<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".1" mimeType="text/html" />
            <mimeMap fileExtension=".2" mimeType="text/xml" />
            <mimeMap fileExtension=".3" mimeType="text/xml" />
        </staticContent>
    </system.webServer>
</configuration>
