<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".xml" />
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/html" />
            <mimeMap fileExtension=".xml" mimeType="image/svg+xml" />
        </staticContent>
    </system.webServer>
</configuration>
